:root{
    --mainColor:#1E4D2B;
}
.Header{
    position:fixed;
    top:0px;
    width:100vw;
    height: 40px;
    background-color: var(--mainColor);
    display:flex;
    justify-content: left;
    align-items: center;
    padding-left:10px;
    font-weight: 500;
    font-size:25px;
    color:white;
    z-index: 1000;
}

#UserActions{
    position:absolute;
    right:19px;
    top:45px;
    width:50px;
    height: 50px;
    border:2px solid var(--mainColor);
    background-color: var(--mainColor);
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;

}
    .UserActionsHeader{
        background-color: var(--mainColor);
        color:white;
        padding:5px;
        width:100%;
        margin:0px;
        font-weight: 5;
    }
    .popover{
       max-width: 100vw;
    }