#containerSettings{
    margin-top:40px;
    
    
}



#optionContentSettings{
    margin-top:15px;
    float:right;
    height:80vh;
    width:calc(100vw - 300px);
}
    #optionContentSettings > *{
        margin-bottom:20px;
        display:block;
    }

.validatorMessage{
    position:absolute;

    width:80%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border:2px solid var(--cardColor);
    background-color:var(--cardColor);
    color:white;
    padding:20px;
    border-radius: 5px;

}

.settingsTitle{
    text-align: left;
    font-size:30px;
}

 