.TweetContainer{
    width: calc(100vw - 20px);
    margin-top:40px;
    display:flex;
    flex-wrap:wrap;
}
    .TweetContainer > *{

    }

    .IndividualTweet{
        background-color: rgb(177, 177, 177);
        flex: 1 0 600px; /* explanation below */
        margin:10px;
        border-radius: 5px;
        border:2px solid var(--mainColor);
        padding:10px;
    }
        .tweetText{
            background-color: white;
            border:solid 2px black;
            border-radius:5px;
            text-align: left;
            margin:10px;
            padding:10px;
            height: 200px;
            overflow:auto;

        }
        .selectedClaim{
            min-height: 20px;
            background-color: white;
            
        }